@import "~normalize.css";
@import ":root";
@import "helpers";
@import "fonts/Open_Sans";

// basic style
html,
body,
#root{
  min-height: 100%;
  height: 100%;
}
body{
  color: var(--text-black);
  font-family: "Open Sans";
}