@import "~normalize.css";
@import ":root";
@import "helpers";

// basic style
html,
body,
#root{
  min-height: 100%;
  height: 100%;
}
body{
  color: var(--text-black);
}
//@todo - убрать отсюда
.active {
  span{
    transition: .3s ease;
    transform: rotate(90deg);
    display: inline-block;
    transform-origin: left top;
  }
}